missionMainDir=/Path/to/main/dir
missionMainArchive=/Path/to/main/archive/dir
missionMakerDir=/Path/to/missionMaking/dir
missionMakerArchive=/Path/to/missionMaking/archive/dir
port=8080
emailAddress=s
emailPassword=s
emailServer=s
emailPort=25
serverAddress=s
discordHookUrl=
discordAdminRoleId=367888697238224896
